<!DOCTYPE html>
<html>
<head>
	<title>ADMINISTRATOR</title>
	 <% include partials/header %>

</head>
<body>
  	<% include partials/navigation %>
    <!-- <div class="clear"></div> -->
    <div class="adminContentHolder" style="padding-top: 50px;">

         <div class="container">
            <h2>관라자 페이지</h2>       
             <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
               <li class="nav-item" style="width: 50%; text-align: center;">
                 <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">홀덤바 위치</a>
               </li>
               <li class="nav-item"  style="width: 50%; text-align: center;">
                 <a class="nav-link" id="web_content-tab" data-toggle="tab" href="#web_content" role="tab" aria-controls="web_content" aria-selected="false">이벤트/공지사항</a>
               </li>
               <li class="nav-item"  style="width: 50%; text-align: center;">
                 <a class="nav-link" id="game_method-tab" data-toggle="tab" href="#game_method" role="tab" aria-controls="game_method" aria-selected="false">게임방법</a>
               </li>
             </ul>
             <div class="tab-content" id="myTabContent">
               <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" style="height: 870px;">
                   <div class="markLocation">
                       
                       <div class="addB_icon">
                        <div class="add_form">
                            <h1>홀덤바 위치</h1>
                            <% if (typeof data != 'undefined') { -%>
                                <form action="/modifyData" method="POST" enctype="multipart/form-data">
                                    <input type="text" hidden name="object_id" value="<%=data[0]['_id'] %>">
                                    <label>지역(빌딩)</label>
                                    <input type="text" name="placename" class="form-control" value="<%=data[0]['name']%>">
                                    <label>경도</label>
                                    <input type="text" name="langtitude" class="form-control" value="<%=data[0]['langtitude']%>">
                                    <label>위도</label>
                                    <input type="text" name="longtitude" class="form-control" value="<%=data[0]['longtitude']%>">
                                    <label>첨부파일</label>
                                    <input type="file" name="agent_pic" class="form-control">
                                    <label>업체명</label>
                                    <input type="text" name="company_name" class="form-control" value="<%=data[0]['company_name']%>">
                                    <label>연락처</label>
                                    <input type="text" name="company_phone" class="form-control" value="<%=data[0]['company_phone']%>">
                                    <label>지역</label>
                                    <input type="text" name="company_area" class="form-control" value="<%=data[0]['company_area']%>">
                                    <button class="btn btn-dark mt-3">업데이트</button>
                                </form>

                            <% } else { -%>
                                <form action="/saveLocation" method="POST" enctype="multipart/form-data">

                                    <label>지역(빌딩)</label>
                                    <input type="text" name="placename" class="form-control">
                                    <label>경도</label>
                                    <input type="text" name="langtitude" class="form-control">
                                    <label>위도</label>
                                    <input type="text" name="longtitude" class="form-control">
                                    <label>첨부파일</label>
                                    <input type="file" name="agent_pic" class="form-control">
                                    <label>업체명</label>
                                    <input type="text" name="company_name" class="form-control">
                                    <label>연락처</label>
                                    <input type="text" name="company_phone" class="form-control">
                                    <label>지역</label>
                                    <input type="text" name="company_area" class="form-control">
                                    <button class="btn btn-dark mt-3">적용</button>
                                </form>

                            <% } -%>
                        </div> <!-- end add_form -->
                       </div> <!-- end addB_icon -->
                   </div>


               </div>
               <div class="tab-pane fade" id="game_method" role="tabpanel" aria-labelledby="game_method-tab" style="height: 1800px;">
                   
                   <div class="container">
                    <div class="addFormContent">
                        <h2>게임방법</h2>

                        <form action="/addGameMethod" method="POST">     
                            <div class="content_form">
                                <label>카테고리</label>
                                <select class="categ_form" name="categ_type">
                                    <option value="game1">블랙잭</option>
                                    <option value="game2">바카라</option>
                                    <option value="game3">룰렛</option>
                                    <option value="game4">빅휠</option>
                                    <option value="game5">다이사이</option>
                                    <option value="game6">캐리비안스터드포커</option>
                                    <option value="game7">카지노워</option>
                                    <option value="game8">텍사스홀뎀</option>
                                    <option value="game9">쓰리카드포커</option>
                                </select>
                                <label>Video</label>
                                <input type="text" name="links" class="form-control" placeholder="youtube links">

                                <label>게임소개</label>
                                <textarea id="gameM-1" name="con1"></textarea>
                                <label>게임진행</label>
                                <textarea id="gameM-2" name="con2"></textarea>
                                <label>게임규칙</label>
                                <textarea id="gameM-3" name="con3"></textarea>

                                <button class="btn btn-dark mt-3" style="width: 100%;">게임방법</button>
                            </div> <!-- end content_form -->
                        </form>


                    </div> <!-- end addFormContent -->
                   </div>
               </div>

               <div class="tab-pane fade" id="web_content" role="tabpanel" aria-labelledby="web_content-tab" style="height: 1800px;">
                   
                   <div class="container">
                    <div class="addFormContent">
                        <h2>이벤트/공지사항</h2>

                        <form action="/contentUpload" method="POST">     
                            <div class="content_form">
                                <label>제목</label>
                                <input type="text" name="title" class="form-control">
                                <label>카테고리</label>
                                <select class="categ_form" name="type">
                                    <option value="event">이벤트</option>
                                    <option value="notice">공지사항</option>
                                </select>
                                <label>게임소개</label>
                                <textarea id="content_input" name="content"></textarea>
                                <button class="btn btn-dark mt-3" style="width: 100%;">게임방법</button>
                            </div> <!-- end content_form -->
                        </form>


                    </div> <!-- end addFormContent -->
                   </div>
               </div>
             </div>
        </div>
    </div>


  	<% include partials/footer %>
</body>

<script type="text/javascript" src="./assets/js/websocket.js"></script>
<script type="text/javascript" src="./assets/js/script.js"></script>
<script type="text/javascript" src="./assets/js/emailValidate.js"></script>
</html>